- content_for :breadcrumbs do
  %span.breadcrumb-item.active Apps

- content_for :toolbar do
  = link_to 'Create an app', new_app_path, class: 'btn btn-primary'

.container
  .list-group
    - if @apps.length.zero?
      .list-group-item.list-group-item-light No apps are registered. #{ link_to "Create an app.", new_app_path }
    - @apps.each do |app|
      %a.list-group-item.list-group-item-action.flex-column.align-items-start{ href: app_path(app) }
        .d-flex.w-100.justify-content-between
          %h5.mb-1
            = app.name
            = react_component('StatusBadge', { endpoint: api_app_status_path(app) }, tag: :span)
          %small Updated #{ time_ago_in_words(app.updated_at) } ago
        %p.mb-1
          = app.description
