!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ name: 'turbolinks-cache-control', content: 'no-cache' }
    %title RockSteady
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application', media: :all
    = csrf_meta_tags
    %meta{ name: :viewport, content: "width=device-width, initial-scale=1" }

  %body
    = render 'parts/nav'
    = render 'parts/toolbar'
    = render 'parts/alerts'

    %main.container-fluid= yield
